* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans SC Variable", sans-serif;
}

body {
  font-size: 14px;
  color: #333;
  min-height: 100vh;
}

a {
  @apply hover:text-blue-700;
}
